* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
  justify-content: center;
  align-items: center;
}

label {
  color: gray;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 500;
}

form {
  display: flex;
  flex-flow: column;
  width: 300px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 5px #999;
  border-radius: 5px;
}

.form-control, .form-action {
  display: flex;
  flex-direction: column;
}

.form-control.success .input-block {
  border-color: green;
}

.form-control small {
  visibility: hidden;
}

.form-control.error .input-block {
  border-color: red;
}

.form-control.error small {
  visibility: visible;
  color: red;
}

.input-block {
  border-radius: 5px;
  padding: 10px;
}

.input-block:focus {
  outline-color: #666;
}

.form-action button {
  margin: 2px;
  padding: 10px;
  color: white;
  border-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.submit-btn {
  background-color: #3498DB;
}

.cancle-btn {
  background-color: #666;
}